{% extends '../layout.html' %}

{% block body %}
<style>
    #section{
        text-align: center;
        vertical-align: middle;
        height: 6em;
    }

    .col{
        text-align: center;
        vertical-align: middle;
        margin: auto;
        font-size: 1.3rem;
    }

    #FrontViewImg{
        display: block;
        margin:auto;
        background-color: rgb(250, 239, 225);
        width: 70%;
        height: auto;
    }

    #FrontViewImg:hover {
        cursor: pointer;
    }

    /* img:hover {
        font-size: 120%;
    } */
</style>


<div id="main">
    <form action="/record/side/" method="post" enctype="multipart/form-data" style="display: None">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit">
    </form>

    <div id="FrontView" class="container" style="align-items: center; margin-top: 2rem;">
        <img id="FrontViewImg" class="img-fluid" src="{{ frontview.image.url }}" alt="None" onclick="refresh()">
    </div>

    <div class="row align-items-center" style="height: auto;">
        <!-- <div class="col">
            <button class="btn btn-danger btn-lg" id="demo" onclick="Demo()" style="margin: 1em">
                <span class="spinner-border" id="demoSpan" role="status" aria-hidden="true" style="margin: 0em 1em 0em 0em; display: none"></span>
                <span id="demoWord" style="font-size: 2rem;">Demo</span>
            </button>
        </div> -->
        <div class="col">
            <button class="btn btn-danger btn-lg" id="demo" style="margin: 1em" data-bs-toggle="collapse" data-bs-target="#collapseDemo" aria-expanded="false" aria-controls="collapseDemo">
            Demo
            </button>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse" id="collapseDemo" style="margin: 0rem 5rem;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">From</span>
                                    <input type="datetime-local" id="datetimeStart" onchange="showdemoRange()">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Until</span>
                                    <input type="datetime-local" id="datetimeEnd" onchange="showdemoRange()">
                                </div>
                                <div class="input-group mb-3">
                                    
                                    <div class="input-group-text">
                                        <input id="straw" class="form-check-input mt-0" type="checkbox" value="" style="margin-right: 1rem;">
                                        Straw detection
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">IDs for demo</span>
                                    <textarea id="idsDemo" cols="30" rows="10" class="form-control" readonly></textarea>
                                </div>
                                <div>
                                    <button id="demoGo" class="btn btn-primary btn-lg" onclick="Demo()">Go</button>
                                </div>
                            </div>
                            <div class="col-9" id="demolist">
                                <div class="row" style="background-color: rgb(250, 239, 225); border-radius: 1em; padding: 1em; margin-bottom: 1rem; height:50rem; overflow: auto; overflow-x:auto;">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress" style="height: 2rem; margin: 1rem 15rem 2rem 15rem;">
        <div id="demoProgress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="font-size: 1.5rem;"></div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">

                        <div class="row" id="content1">
                            <div class="col-8">
                                <a href="" target="_blank">
                                    <img class="img-fluid" id="modalImg" src="" alt="None" style="width: auto; max-height: 90%;">
                                </a>
                            </div>
                            <div class="col-4" style="text-align: left;">
                                <p id="name">Name: </p>
                                <p id="date">Date: </p>
                                <p id="id">ID: </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- {% for key, value in context.items %}

    <div class="modal fade" id="{{value.section}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ value.section }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        {% for img in value.imagelist %}
                        <div class="row">
                            <div class="col-8">
                                <img class="img-fluid" id="modalImg" src="{{ img.image.url }}" alt="None" style="width: auto; max-height: 90%;">
                            </div>
                            <div class="col-4" style="text-align: left;">
                                <p>Name: {{img.name}}</p>
                                <p>Date: {{img.date}}</p>
                                <p>ID: {{img.id}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% endfor %} -->

    <div class="container" id="btns" style="background-color: rgb(250, 239, 225); border-radius: 1em; padding: 1em; margin-bottom: 5rem; height:50rem; overflow: auto; overflow-x:auto;"></div>

    <form action="/record/front/" method="post" enctype="multipart/form-data" style="display: None;">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit">
    </form>

</div>


<script >
    var containerDiv = document.getElementById('btns');

    var levels = {{ levels|safe }};
    // console.log(levels)

    for (var i = 0; i < 37; i++) {
        var rowDiv = document.createElement('div');
        rowDiv.className = 'row align-items-center';
        rowDiv.id = 'section';
        for (var j = 0; j < 8 ; j++){
            var colList = ['', 'A', 'B', 'C', 'D', 'E', 'F'];
            var colDiv = document.createElement('div');
            colDiv.className = 'col d-grid';
            colDiv.style.height = '90%'
            if (i === 0 & j === 0) {
                var divText = document.createTextNode('');
                colDiv.style.alignContent = 'center'
                colDiv.appendChild(divText);
            }else if (j === 7 ){
                var divText = document.createTextNode('');
                colDiv.style.alignContent = 'center'
                colDiv.appendChild(divText);
            }else if (j === 0){
                var divText = document.createTextNode(i.toString());
                colDiv.style.alignContent = 'center'
                colDiv.appendChild(divText);
            }else if (i === 0){
                var divText = document.createTextNode(colList[j]);
                colDiv.style.alignContent = 'center'
                colDiv.appendChild(divText);
            }
            else {
                var btn = document.createElement('button');
                var btnText = document.createTextNode(colList[j] + i.toString());
                btn.appendChild(btnText);
                btn.type = 'button';
                btn.className = 'btn btn-' + levels[colList[j] + i.toString()];
                btn.id = colList[j] + i.toString();
                btn.style.fontSize = '1.5rem';
                btn.setAttribute('data-bs-toggle', 'modal')
                btn.setAttribute('data-bs-target', '#modal')
                btn.setAttribute('data-bs-section', colList[j] + i.toString())
                colDiv.append(btn);
            }
            rowDiv.append(colDiv);
        }
        containerDiv.append(rowDiv);
    };

    var modal = document.getElementById('modal')
    modal.addEventListener('show.bs.modal', e=>{
        
        let btn = e.relatedTarget
        let section = btn.getAttribute('data-bs-section')
        // console.log(section)
        $.ajax({
            url: 'preview',
            type: 'POST',
            data: {
                section: section
            },
            success: (context)=>{
                var context = JSON.parse(context)['context'];
                console.log(context)
                document.getElementById('exampleModalLabel').textContent = section;
                if (context.length == 0){
                    var firstRow = modal.querySelector('.modal-body #content1')
                    firstRow.querySelector('#modalImg').src = null
                    firstRow.querySelector('#name').textContent = null
                    firstRow.querySelector('#date').textContent = null
                    firstRow.querySelector('#id').textContent = null
                    var spare = firstRow.cloneNode(true)
                    var container = modal.querySelector('.modal-body .container-fluid')
                    while(container.firstChild){
                        container.removeChild(container.lastChild)
                    }
                    container.append(spare)
                }
                for (let i = 0; i < context.length; i++){
                    if (i == 0){
                        var firstRow = modal.querySelector('.modal-body #content1')
                        firstRow.querySelector('a').href = context[i].url
                        firstRow.querySelector('#modalImg').src = context[i].url
                        firstRow.querySelector('#name').textContent = 'Name: ' + context[i].name
                        firstRow.querySelector('#date').textContent = 'Date: ' + context[i].date
                        firstRow.querySelector('#id').textContent = 'ID: ' + context[i].id
                        var spare = firstRow.cloneNode(true)
                        var container = modal.querySelector('.modal-body .container-fluid')
                        while(container.firstChild){
                            container.removeChild(container.lastChild)
                        }
                        container.append(spare)
                    }
                    else{
                        var clone = spare.cloneNode(true)
                        clone.id = 'content' + i.toString();
                        clone.querySelector('a').href = context[i].url
                        clone.querySelector('#modalImg').src = context[i].url
                        clone.querySelector('#name').textContent = 'Name: ' + context[i].name
                        clone.querySelector('#date').textContent = 'Date: ' + context[i].date
                        clone.querySelector('#id').textContent = 'ID: ' + context[i].id
                        container.append(clone)
                    }

                }

            },
        });
    })


    // function Demo() {
    //     document.getElementById('demoSpan').style.display = '';
    //     document.getElementById('demoWord').innerText = 'Identifying...';
    //     $.ajax({
    //         url:'../monitor/demo/',
    //         type: 'POST',
    //         data: {
    //             demo: true,
    //         },
    //         success: function() {
    //             document.getElementById('demoSpan').style.display = '';
    //             document.getElementById('demo').innerText = 'Demo';
    //         },
            
    //     });
    // };

    function Demo() {
        // document.getElementById('demoGO').innerHTML = 'Identifying...';
        var idsDemo = document.getElementById('idsDemo').value
        var strawDetection = document.getElementById('straw').checked
        console.log(idsDemo)
        console.log(strawDetection)
        document.getElementById('demoGo').innerText = 'Starting...'
        $.ajax({
            url:'../monitor/demo/',
            type: 'POST',
            data: {
                demo: idsDemo,
                straw: strawDetection
            },
            success: function() {
                document.getElementById('demoGo').style.display = 'Go';
            },
            
        });
    };

    function showdemoRange() {
        var from = document.getElementById('datetimeStart').value
        var until = document.getElementById('datetimeEnd').value
        // console.log(from)
        // console.log(until)
        if (from !== '' && until !== ''){
            $.ajax({
                url: 'showdemoRange',
                type: 'POST',
                data: {
                    from: from,
                    until: until,
                },
                success: function(data){
                    var data = JSON.parse(data)['data']
                    // console.log(data)
                    var demolist = document.getElementById('demolist').querySelectorAll('div.col')
                    demolist.forEach(e => e.innerHTML='')
                    for (let i = 0; i < data.length; i++){
                        let node = demolist[i%3]
                        let tn = document.createElement('img')
                        // console.log(data[i])
                        tn.src = data[i]['url']
                        tn.id = data[i]['id']
                        tn.role = 'button'
                        tn.style.objectFit = 'contain'
                        tn.style.width = '100%'
                        tn.style.hight = '100%'
                        tn.setAttribute('data-bs-toggle', 'tooltip')
                        tn.setAttribute('data-bs-placement', 'top')
                        tn.setAttribute('title','section: ' + data[i]['section'] + '\n' + 'date: ' + data[i]['date'] +'\n' + 'id: ' + data[i]['id'].toString())
                        tn.onclick = function () {adjustIdsDemo(tn.id)}
                        let tndiv = document.createElement('div')
                        tndiv.append(tn)
                        node.append(tndiv)
                    }
                    var idsDemo = document.getElementById('idsDemo')
                    var ids = []
                    for (j = 0; j < data.length; j++){
                        ids.push(data[j]['id'])
                    }
                    idsDemo.value = ids.toString()
                }
            })
        }
    };

    function adjustIdsDemo(id){
        var idsDemo = document.getElementById('idsDemo').value.split(',')
        var image = document.getElementById(id.toString())
        if (idsDemo.includes(id)) {
            image.style.filter = 'brightness(50%)'
            idsDemo = idsDemo.filter(e => e !== id)
            // console.log(idsDemo)
        }
        else {
            image.style.filter = 'brightness(100%)'
            idsDemo.push(id.toString())
            idsDemo.sort().reverse()
        }
        document.getElementById('idsDemo').value = idsDemo.toString()
    };

    function fetchRecord(section) {
        $.ajax({
            url: 'fetchRecord',
            type: 'POST',
            data: {
                section: section,
            },
            success: function (){
                modal = document.getElementById('recordModal');
            }
        })
    };

    function refresh(){
        $.ajax({
            url: 'refreshFront',
            type: 'POST',
            data: {
                refreshFront: true,
            },
            success: function (url){
                document.getElementById('FrontViewImg').src = url;
            }
        })
    };

    function progress(){
        $.ajax({
            url: 'demoProgress',
            type: 'POST',
            data: {
                progress: true,
            },
            success: function(content){
                var now = JSON.parse(content)['now'];
                var total = JSON.parse(content)['total'];
                var demoProgress = document.getElementById('demoProgress');
                demoProgress.style.width = String(now/total*100)+'%';
                var label = now/total*100
                if (now == 0){
                    demoProgress.innerText = 'Starting...'
                }
                else{
                    demoProgress.innerText = String(label.toFixed(2))+'%'
                }
            }
        })
    };

    // window.onload = function() {
    //     function timeout(){
    //         setTimeout(function (){
    //             // refresh()
    //             progress()
    //             timeout();
    //         }, 1000);
    //     }
    //     timeout();
    // }

</script>


{% endblock %}