__pycache__/
*.jpg
*.jpeg
*.json
*.png
*.mp4
*.MOV
*.pth
*.pkl
*.http
**/migrations
detectron/config/**
detectron/dataset/**
db.sqlite3
progress.txt
nohup.out

server.sh
routine.*
sqltest.py
area.py
sql_chiang.py
monitor/progress*
