celery == 5.0.5
celery-progress == 0.1.0
# detectron2 == 0.3
Django == 3.1.4
numpy == 1.19.4
Pillow == 8.1.2
plantcv == 3.12.1
pycocotools == 2.0.2
PyMySQL == 1.0.2
pytz == 2019.3
schedule == 1.1.0
scikit-image == 0.18.1
scipy == 1.6.1
sorl-thumbnail == 12.7.0
# torch == 1.7.1+cu110
# torchvision == 0.8.2+cu110
tqdm == 4.59.0