{% extends '../layout.html' %}

{% block body %}
<style>
    #experiment-list {
        max-height: 500px;
        overflow-y: scroll;
    }
</style>

<div id="vehicle-data">
    <!-- Display the vehicle data here -->
    <p>Click the button below to fetch the latest vehicle data.</p>
</div>
<button class="btn btn-primary " id="refresh-button">Refresh</button>

<section id="Exp location">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" class="form-control " id="location">
                </div>
                <div class="mb-3">
                    <label for="greenhouse" class="form-label">Greenhouse:</label>
                    <input type="text" class="form-control" id="greenhouse">
                </div>
            </form>
        </div>
    </div>
</section>

<hr>

<section id="real time info">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <form>
                        <div class="row mb-2">
                            <label for="startTime" class="col-sm-5 col-form-label">Start time:</label>
                            <div class="col-sm">
                                <input type="text" class="form-control border-0" id="startTime">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="pesticide" class="col-sm-5 col-form-label">Pesticide:</label>
                            <div class="col-sm">
                                <input type="text" class="form-control border-0" id="pesticide">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="sprayed" class="col-sm-5 col-form-label">Sprayed:</label>
                            <div class="col-sm">
                                <input type="text" class="form-control border-0" id="sprayed">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center">
                                <span>L</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="remaining" class="col-sm-5 col-form-label">Remaining:</label>
                            <div class="col-sm">
                                <input type="text" class="form-control border-0" id="remaining">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center">
                                <span>L</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="battery" class="col-sm-5 col-form-label">Battery:</label>
                            <div class="col-sm">
                                <input type="text" class="form-control border-0" id="battery">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center">
                                <span>%</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="UWB" class="col-sm-5 col-form-label">UWB coordinates:</label>
                            <div class="col-sm">
                                <input type="text" class="form-control border-0" id="UWB">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center">
                                <span>(x, y)</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-8">
                    <div class="border p-3">
                        <label for="uwbLocation" class="form-label">UWB location</label>
                        <textarea class="form-control border-0" id="uwbLocation" rows="8"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="History data">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row">
                <label for="historyData" class="form-label">History data</label>
                <div id="experiment-list" class="list-group"></div>
                <div class="d-flex justify-content-between mt-3">
                    <button id="prev-page" class="btn btn-primary">Previous Page</button>
                    <button id="next-page" class="btn btn-primary">Next Page</button>
                </div>
            </div>
        </div>
</section>


<section id="Fertilizer DB data">
    <div class="row justify-content-center">
        <div class="col-8" style="margin-bottom: 5rem">
            <div class="row">
                <label>Fertilizer Database List</label>
                <ul id="fertilizer-list" class="list-group">
                    <!-- Fertilizer items will be dynamically added here -->
                </ul>
            </div>
        </div>
    </div>
</section>


<script>
    function getVehicleData() {
        fetch('vehicleData/')
            .then(response => response.json())
            .then(data => {
                const vehicleDataDiv = document.getElementById('vehicle-data');
                if (data.error) {
                    vehicleDataDiv.innerHTML = data.error;
                } else if (data.battery_level > 0) {
                    document.getElementById('battery').value = data.battery_level;
                    document.getElementById('sprayed').value = data.sprayed_pesticide;
                    document.getElementById('remaining').value = data.remaining_pesticide;
                    document.getElementById('UWB').value = data.uwb_coordinates;
                } else {
                    vehicleDataDiv.innerHTML = 'NO RECENT DATA';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.getElementById('refresh-button').addEventListener('click', getVehicleData);

    document.addEventListener('DOMContentLoaded', function() {
        fetch('fertilizers/')
            .then(response => response.json())
            .then(data => {
                const fertilizerList = document.getElementById('fertilizer-list');
                data.forEach(fertilizer => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item';
                    listItem.textContent = `ID: ${fertilizer.id},  Name: ${fertilizer.name}`;
                    fertilizerList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error fetching fertilizer data:', error));
    });

    function formatDate(dateStr) {
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
        return new Date(dateStr).toLocaleDateString(undefined, options);
    }

    let currentPage = 1;
    function loadExperiments(page) {
        $.ajax({
            url: `experiments/?page=${page}`,
            method: 'GET',
            success: function(data) {
                $('#experiment-list').empty();
                data.results.forEach(record => {
                    $('#experiment-list').append(
                        `<div class="list-group-item">
                            <h5>${record.location} - ${record.greenhouse}</h5>
                            <p>Fertilizer Total Amount: ${record.fertilizer_total_amount}</p>
                            <p>Start Time: ${formatDate(record.start_time)}</p>
                            <p>End Time: ${record.end_time ? formatDate(record.end_time) : 'N/A'}</p>
                        </div>`
                    );
                });

                $('#prev-page').prop('disabled', !data.previous);
                $('#next-page').prop('disabled', !data.next);
            },
            error: function(error) {
                console.error('Error fetching experiments:', error);
            }
        });
    }

    $('#next-page').on('click', function() {
        currentPage += 1;
        loadExperiments(currentPage);
    });

    $('#prev-page').on('click', function() {
        if (currentPage > 1) {
            currentPage -= 1;
            loadExperiments(currentPage);
        }
    });

    loadExperiments(currentPage);
</script>

{% endblock %}
