{% extends '../layout.html' %}

{% block body %}
<style>
    .col{
        text-align: center;
        vertical-align: middle;
        margin: auto;
        font-size: 1.3rem;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div>
    <div class="row no-gutters align items-center" style="margin: auto; margin-top: 1em;">
        <div class="col-3" >
            <form class="g-3 was-validated">
                <div class="form-floating" style="margin: 1em 1em">
                    <select class="form-select" id="floatingSelect-from" required onchange="selectionChange()">
                        <option value="">...</option>
                        {% for demo in demolist %}
                        <option value="{{demo.id}}">ID: {{demo.id}}, Date: {{demo.date}}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect-from">From</label>
                </div>
                <div class="form-floating" style="margin: 1em 1em">
                    <select class="form-select" id="floatingSelect-until" required onchange="sendRange()">
                        <option value="">...</option>
                    </select>
                    <label for="floatingSelect-until">Until</label>
                </div>
                <!-- <div class="form-floating" style="margin: 1em 1em">
                    <select class="form-select" id="floatingSelect-section" required onchange="sendRange()">
                        <option value="0">All</option>
                        {% for section in sections %}
                        <option value="{{section.id}}">{{section.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect-until">Area</label>
                </div> -->
                <div class="form-floating" style="margin: 1em 1em">
                    <select class="form-select" id="floatingSelect-type" required onchange="chooseType()">
                        <option value="">...</option>
                        <option value="0">Clump</option>
                        <option value="1">Stalk</option>
                        <option value="2">Spear</option>
                    </select>
                    <label for="floatingSelect-type">Category</label>
                </div>
                <div class="form-floating" style="margin: 1em 1em;">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect-hours" disabled onchange="predictLength()">
                                    <option value="0">...</option>
                                    {% for i in thermaltimerange %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                                <label for="floatingSelect-hours" style="font-size: medium;">In future ... hours</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect-thres" disabled onchange="predictLength()">
                                    <option value="0">...</option>
                                    <option value="30">30</option>
                                    <option value="25">25</option>
                                    <option value="20">20</option>
                                    <option value="15">15</option>
                                </select>
                                <label for="floatingSelect-thres" style="font-size: medium;">longer than ... cm</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="col-9">
            <div class="container" id="btns" style="background-color: rgb(250, 239, 225); border-radius: 1em; padding: 1em; margin-bottom: 5rem; height:50rem; overflow: auto; overflow-x:auto;"></div>
        </div>
        <!-- <div class="col-9" id="chartCol">
            <canvas id="myChart"></canvas>
        </div> -->
    </div>
</div>

<script>
    var containerDiv = document.getElementById('btns');

    for (var i = 0; i < 37; i++) {
        var rowDiv = document.createElement('div');
        rowDiv.className = 'row align-items-center';
        rowDiv.style.height = '6em'
        rowDiv.id = 'section';
        for (var j = 0; j < 8 ; j++){
            var colList = ['', 'A', 'B', 'C', 'D', 'E', 'F'];
            var colDiv = document.createElement('div');
            colDiv.className = 'col d-grid';
            colDiv.style.height = '90%'
            if (i === 0 & j === 0) {
                var divText = document.createTextNode('Sum');
                colDiv.style.alignContent = 'center'
                colDiv.style.fontWeight = 'bold'
                colDiv.appendChild(divText);
            }else if (j === 7 ){
                var divText = document.createTextNode('');
                colDiv.style.alignContent = 'center'
                colDiv.appendChild(divText);
            }else if (j === 0){
                var divText = document.createTextNode(i.toString());
                colDiv.style.alignContent = 'center'
                colDiv.style.fontWeight = 'bold'
                colDiv.appendChild(divText);
            }else if (i === 0){
                var btn = document.createElement('button');
                btn.textContent = 0
                btn.type = 'button';
                btn.className = 'btn btn-outline-primary';
                btn.id = colList[j];
                btn.style.fontSize = '1.5rem';
                btn.setAttribute('data-clumps', 0)
                btn.setAttribute('data-stalks', 0)
                btn.setAttribute('data-spears', 0)
                colDiv.style.fontWeight = 'bold'
                colDiv.append(colList[j])
                colDiv.append(btn);
            }
            else {
                var btn = document.createElement('button');
                btn.textContent = 0
                btn.type = 'button';
                btn.className = 'btn btn-outline-primary';
                btn.id = colList[j] + i.toString();
                btn.style.fontSize = '1.5rem';
                btn.setAttribute('data-clumps', 0)
                btn.setAttribute('data-stalks', 0)
                btn.setAttribute('data-spears', 0)
                colDiv.append(colList[j] + i.toString())
                colDiv.append(btn);
            }
            rowDiv.append(colDiv);
        }
        containerDiv.append(rowDiv);
    };

    function selectionChange(){
        var fromValue = document.getElementById('floatingSelect-from').value;
        var untilSelect = document.getElementById('floatingSelect-until');
        var demorange = {{ demorange|safe }};
        var latestDemo = demorange[demorange.length - 1][0]
        // console.log(fromValue)
        // console.log(untilSelect)
        // console.log(latestDemo)
        // console.log(demorange)
        untilSelect.options.length = 0;
        if(fromValue){
            var option = document.createElement("option");
            option.value = "";
            option.text = "...";
            untilSelect.append(option);
            for(let i = fromValue; i <= latestDemo; i++){
                var option = document.createElement("option");
                option.value = i;
                for(let j = 0; j < demorange.length; j++){
                    if (demorange[j][0] == i){
                        option.text = 'ID: ' + demorange[j][0] + ', Date: ' + demorange[j][2]
                    }
                }
                // option.text = demorange[i-fromValue][1];
                if (option.text == ''){
                    option.text = 'Deleted'
                }
                untilSelect.append(option);
            }
        }
        else{
            var option = document.createElement("option");
            option.value = "";
            option.text = "...";
            untilSelect.append(option);
        }
        
    }

    function sendRange(){
        document.getElementById('btns').style.opacity = '50%'
        $.ajax({
            url: 'sendRange',
            type: 'POST',
            data: {
                fromValue: document.getElementById('floatingSelect-from').value,
                untilValue: document.getElementById('floatingSelect-until').value,
            },
            success: function(context){
                
                var allBtns = document.getElementsByTagName('button')
                // console.log(allBtns)
                for (let btn of allBtns){
                    btn.textContent = '0'
                    btn.setAttribute('data-clumps', '0')
                    btn.setAttribute('data-stalks', '0')
                    btn.setAttribute('data-spears', '0')
                }
                var context = JSON.parse(context);
                console.log(context)
                // var type = document.getElementById('floatingSelect-type').value

                for ( var [type, data] of Object.entries(context)){
                    if (type == 'spears'){
                        for (let sec in data){
                            var num = data[sec]
                            let btn = document.getElementById(sec)
                            btn.setAttribute('data-'+type, num.length.toString())
                            btn.setAttribute('data-'+type+'-raw', num)
                            let col = document.getElementById(sec[0])
                            let colCount = parseInt(col.getAttribute('data-'+type))
                            col.setAttribute('data-'+type, (colCount + num.length).toString())

                        }
                    }else if (type == 'stalks' || type == 'clumps'){
                        for ( var [sec, num] of Object.entries(data)){
                            let btn = document.getElementById(sec)
                            btn.setAttribute('data-'+type, num.toString())
                            let col = document.getElementById(sec[0])
                            let colCount = parseInt(col.getAttribute('data-'+type))
                            col.setAttribute('data-'+type, (colCount + num).toString())
                        }
                    }else{
                        continue
                    }
                    
                }
                document.getElementById('floatingSelect-hours').setAttribute('data-thermaltime', context['thermaltime'])
                document.getElementById('btns').style.opacity = '100%'
            }
        })
        
    }

    function chooseType(){
        var type = document.getElementById('floatingSelect-type').value
        if (type != 2){
            document.getElementById('floatingSelect-hours').disabled = true
            document.getElementById('floatingSelect-thres').disabled = true
        }else {
            document.getElementById('floatingSelect-hours').disabled = false
            document.getElementById('floatingSelect-thres').disabled = false
        }
        var allBtns = document.getElementsByTagName('button')
        for (let btn of allBtns){
            btn.textContent = '0'
            btn.textContent = type == 0 ? btn.getAttribute('data-clumps') : ( type == 1 ? btn.getAttribute('data-stalks') : btn.getAttribute('data-spears'))
            if (btn.id.length < 2){
                btn.className = 'btn btn-outline-danger'
            }
            else {
                btn.className = btn.textContent > 10 ? 'btn btn-danger' : (btn.textContent > 5 ? 'btn btn-warning' : (btn.textContent > 3 ? 'btn btn-success' : 'btn btn-secondary'))
            }
        }
    }

    function calculate(thermalTime, h1, hrs) {
        var t1 = (1.409 - Math.log(Math.log(31.91 / h1)))/0.001397
        var t2 = t1
        for(let i = 0; i < hrs; i++){
            t2 += thermalTime[i]
        }
        var h2 = 31.91 * Math.exp(-1 * Math.exp(1.409 - 0.001397 * t2))
        if (isNaN(h2)){
            return h1
        }
        return h2
    }

    function predictLength(){
        var hours = document.getElementById('floatingSelect-hours').value
        var thres = document.getElementById('floatingSelect-thres').value
        var thermaltime = document.getElementById('floatingSelect-hours').getAttribute('data-thermaltime').split(',')
        thermaltime = thermaltime.map(t => parseFloat(t))
        var allBtns = document.getElementsByTagName('button')
        for (let btn of allBtns){
            if (btn.id.length == 1){
                btn.textContent = '0'
            }
            if (hours == 0 && thres == 0){
                btn.textContent = btn.getAttribute('data-spears')
            }else if (hours != 0 && thres != 0){
                var spears = btn.getAttribute('data-spears-raw')
                if (spears){
                    spears = spears.split(',').map(spear => parseFloat(spear))
                    predL = Object.values(spears.map(h => calculate(thermaltime, h/10, hours)))
                    predL = predL.filter(l => l >= thres)
                    btn.textContent = predL.length
                }
            } 
        }
        for (let btn of allBtns){
            if (btn.id.length > 1 && hours != 0 && thres != 0){
                let col = document.getElementById(btn.id[0])
                col.textContent = parseInt(col.textContent) + parseInt(btn.textContent)
            }
        }
        for (let btn of allBtns){
            btn.className = btn.textContent > 10 ? 'btn btn-danger' : (btn.textContent > 5 ? 'btn btn-warning' : (btn.textContent > 3 ? 'btn btn-success' : 'btn btn-secondary'))
        }
    }

    // function sendRange(){
    //     $.ajax({
    //         url: 'sendRange',
    //         type: 'POST',
    //         data: {
    //             fromValue: document.getElementById('floatingSelect-from').value,
    //             untilValue: document.getElementById('floatingSelect-until').value,
    //             section: document.getElementById('floatingSelect-section').value
    //         },
    //         success: function(context){
    //             var context = JSON.parse(context);
    //             document.getElementById('chartCol').innerHTML = '<canvas id="myChart"></canvas>';
    //             var ctx = document.getElementById('myChart').getContext('2d');
    //             var chart = new Chart(ctx, {
    //                 // The type of chart we want to create
    //                 type: 'bar',

    //                 // The data for our dataset
    //                 data: {
    //                     labels: context['labels'],
    //                     datasets: [{
    //                         label: 'Clump',
    //                         backgroundColor: 'rgb(255, 99, 132)',
    //                         borderColor: 'rgb(255, 99, 132)',
    //                         fill: false,
    //                         data: context['clumps'],
    //                     },
    //                     {
    //                         label: 'Stalk',
    //                         backgroundColor: 'rgb(237, 170, 97)',
    //                         borderColor: 'rgb(237, 170, 97)',
    //                         fill: false,
    //                         data: context['stalks'],
    //                     },
    //                     {
    //                         label: 'Spear',
    //                         backgroundColor: 'rgb(181, 242, 107)',
    //                         borderColor: 'rgb(181, 242, 107)',
    //                         fill: false,
    //                         data: context['spears'],
    //                     }]
    //                 },
    //                 // Configuration options go here
    //                 options: {
    //                     tooltips: {
    //                         enabled: true,
    //                         intersect: false,
    //                     },
    //                     legend: {
    //                         position: 'right',
    //                         align: 'center',
    //                         onHover: 'pointer',
    //                         labels: {
    //                             fontSize: 24
    //                         }
    //                     },
    //                     title: {
    //                         display: true,
    //                         text: 'Statistics of Asparagus',
    //                         fontSize: 32,
    //                     },
    //                     scales: {
    //                         yAxes: [{
    //                             scaleLabel: {
    //                                 display: true,
    //                                 labelString: 'Number of instances',
    //                                 fontSize: 24,
    //                             },
    //                             ticks:{
    //                                 fontSize: 16
    //                             }
    //                         }],
    //                         xAxes: [{
    //                             scaleLabel: {
    //                                 display: true,
    //                                 labelString: 'Date time',
    //                                 fontSize: 24,
    //                             },
    //                             ticks :{
    //                                 fontSize :16
    //                             }
    //                         }],
                            
    //                     }
                        
    //                 }
    //             });
    //         }
    //     })
        
    // }
</script>

{% endblock %}